<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Digite um nome</mat-label>
          <input
            type="text"
            formControlName="name"
            matInput
            placeholder="Ex:José"
          />

          @if(form.get('name')?.hasError('minlength')){
          <mat-error
            >Nome deve ter no minimo
            {{ form.get('name')?.errors?.['minlength']?.requiredLength }}
          </mat-error>
          }
        </mat-form-field>

        <button type="submit" color="primary" mat-flat-button>enviar</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-content>
      <table>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>CPF</th>
        </tr>

        @for( custumer of customerList; track $index) {
        <tr>
          <th>{{ custumer.name }}</th>
          <th>{{ custumer.phone }}</th>
          <th>{{ custumer.email }}</th>
          <th>{{ custumer.cpf }}</th>
        </tr>
        }
      </table>
    </mat-card-content>
  </mat-card>
</div>
