.container {
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
  .card {
    max-width: 60%;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    padding-top: 1rem;
    margin-bottom: 2rem;
    @media (max-width: 600px) {
      max-width: 90%;
    }
    &:hover {
      box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3), 0 20px 60px rgba(0, 0, 0, 0.2);
    }
    mat-card-content {
      mat-form-field {
        width: 80%;
        @media (max-width: 600px) {
          width: 100%;
        }
      }

      button {
        text-transform: capitalize;
        margin-left: 2rem;
        padding: 1.5rem 3rem;
        @media (max-width: 600px) {
          margin-left: 0rem;
        }
      }
    }
  }

  .table {
  }
}
