/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/rose-red.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-base {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.container-large {
  padding: 3.125rem;
  max-width: 75rem;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}

.container-small {
  padding: 3.125rem;
  max-width: 50rem;
  margin: 0 auto;
}
