.container {
  width: 100%;
  display: flex;
  justify-content: center;
  .content {
    width: 100%;
    max-width: 83.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18), 0 8px 24px rgba(0, 0, 0, 0.12);
      width: 100%;
    }
  }
}
