<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Check-In Date</label>
    <input type="date" formControlName="checkInDate" />
  </div>

  <div>
    <label>Check-Out Date</label>
    <input type="date" formControlName="checkOutDate" />
  </div>

  <div>
    <label>Guess Name</label>
    <input type="text" formControlName="guestName" />
  </div>

  <div>
    <label>Guess Email</label>
    <input type="email" formControlName="guestEmail" />
  </div>

  <div>
    <label>Room Number</label>
    <input type="number" formControlName="roomNumber" />
  </div>

  <button [disabled]="reservationForm.invalid" type="submit">Submit</button>
</form>
