<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
  <h2 class="text-2x1 font-semibold text-gray-700 mg-4">Nova Categoria</h2>
  <hr class="mt-2 mb-2" />

  <form id="categoriaForm" [formGroup]="camposForm">
    <div class="mb-4">
      <label class="block text-gray-600 font-medium mb-2">Nome</label>
      <input
        type="text"
        id="nome"
        name="nome"
        formControlName="nome"
        placeholder="Ex: Restaurantes, Praias,Shopping"
        class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
        required
      />

      @if(camposForm.get('nome')?.hasError('required') &&
      camposForm.get('nome')?.touched){
      <span class="text-red-500 text-sm">Campo Obrigatorio</span>
      }
    </div>

    <div class="mb-4">
      <label D="block text-gray-600 font-medium mb-2">Descrição</label>
      <textarea
        rows="4"
        id="descricao"
        name="descricao"
        formControlName="descricao"
        placeholder="Ex: Restaurantes, Praias,Shopping"
        class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:outline-none focus:ring-blue-400"
        required
      ></textarea>

      @if(camposForm.get('descricao')?.hasError('required') &&
      camposForm.get('descricao')?.touched){
      <span class="text-red-500 text-sm">Campo Obrigatorio</span>
      }
    </div>

    <button
      [disabled]="this.camposForm.invalid"
      type="submit"
      class="w-full bg-blue-600 text-white font-semibold p-3 rounded shadow hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Cadastrar Categoria
    </button>
  </form>
</div>
