<div class="container">
  <h1>Escolha uma opção</h1>

  <div class="cards">
    <mat-card class="card-option" (click)="listCustomer()">
      <mat-card-header>Lista de Clientes</mat-card-header>
      <mat-card-content>
        <p>Visualize, edite ou exclua clientes existentes.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-option" (click)="registerCustomer()">
      <mat-card-header>Cadastre um Novo Cliente</mat-card-header>
      <mat-card-content>
        <p>Visualize, edite ou exclua clientes existentes.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-option full" (click)="editCustomer()">
      <mat-card-header>Edite um Cliente</mat-card-header>
      <mat-card-content>
        <p>Visualize, edite ou exclua clientes existentes.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
