:host {
  .product-card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      cursor: pointer;
    }
  }
}
