.not-found-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-card {
  width: 400px;
  text-align: center;
  padding: 32px;
}

.code {
  font-size: 72px;
  font-weight: 700;
  margin: 0;
  color: #3f51b5;
  margin-bottom: 2rem;
}

h2 {
  margin: 8px 0 16px;
  color: rgb(0, 0, 0);
}

p {
  margin-bottom: 24px;
  color: rgb(0, 0, 0);
}
